/* .table-of-contents {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    overflow-y: auto;
    background-color: #f8f8f8;
    padding: 20px;
} */

.table-of-contents ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.table-of-contents {
    /* display: flex; */
    justify-content: space-between;
}